@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Black.woff2') format('woff2');
    font-weight: 800; /* Adjust the font-weight accordingly */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  

* {
    font-family: 'Inter', 'Poppins', sans-serif;
}


html {
    background-color: #1e1e1e;
}


/* For WebKit (Safari, Chrome, etc) */
.no-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none; /* Optional based on preference */
}

/* For Internet Explorer and Edge */
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none; /* For updated versions of Firefox */
}

/* For Firefox (64 and above) */
.no-scrollbar {
    scrollbar-width: none;
}
