@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Inter'; /* A name for the font */
    src: url('/fonts/Inter-VariableFont.ttf') format('truetype'); /* Add other formats if needed */
    font-weight: 100 900;
}

* {
    font-family: 'Inter', 'Poppins', sans-serif;
}



html {
    background-color: #1e1e1e;
}


/* For WebKit (Safari, Chrome, etc) */
.no-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none; /* Optional based on preference */
}

/* For Internet Explorer and Edge */
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none; /* For updated versions of Firefox */
}

/* For Firefox (64 and above) */
.no-scrollbar {
    scrollbar-width: none;
}
